*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.navigation {
    width: 100%;
    height: 60px;
    background-color: #fdfeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color:grey;
    }

    .navigation .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    }

    .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    }

    .navigation ul li {
    cursor: pointer;
    transition: color 0.3s;
    }

    .navigation ul li:hover {
    color:rgb(207, 27, 87);
    }

    .User {
    padding: 12px 25px;
    font-size: 1rem;
    font-family: italic;
    background-color: rgb(247, 247, 247);
    color:rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 90px;
    transition: 0.3s;
    transform: rotate(0.5s);
    }
    .User:hover
    {
        background-color:cadetblue;
        transform: rotate(1.05);
    }

.hero
{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    padding: 0 5vw;    
}

.hero-left
{
    flex: 1;
    padding: 20px;
}
.hero-left h1
{
    font-size: 2.5rem;
    color: rgb(89, 87, 87);
    margin-bottom: 20px;
}
.hero-left h2
{
    font-size: 2.5rem;
    color:rgb(66, 183, 229);
    margin-bottom: 20px;
}

.hero-left p
{
    font-family: cursive;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: grey;
}
.hero-left button
{
    padding: 12px 25px;
    font-size: 1rem;
    font-family: italic;
    background-color: skyblue;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 100vh;
    transition: 0.3s;
}
.hero-left button:hover
{
    background-color: rgb(10, 88, 110);
    animation: orbit 0.5s linear ;

}
.hero-right
{
    display: flex;
    flex:1;
    justify-content: center;
    align-items:center;
}
.hero-right img
{
    max-height: 80vh;
    height: auto;
    border-radius:10px;
}

@keyframes orbit
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}